body{
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}
#container{
    height: 85vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    position: relative;
    -webkit-user-select: none;
    background-image: url("../pic/mainBG.png");
    background-size: cover;
}
#menuContainer{
    height:50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.btn{
    height:15%;
    width:70%;
    border:2px solid grey;
    background-color:white;
    text-align: center;
    align-self: center;
    padding-top:10px;
    border-radius: 5px;
    margin: auto;
    font-size: 30px;
    font-family:"微軟正黑體 Light",sans-serif;
}
#index{
    width: 70%;
    height: 100%;
    background-image: url("../pic/sidebar.png");
    background-size: cover;
    box-shadow: 0 0 5px rgba(0,0,100,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right:2px solid grey;
}
#number-selector{
    width: 70%;
    height: 100%;
    background-color: white;
    justify-self: right;
    align-content: center;
    box-shadow: 0 0 5px rgba(0,0,100,0.1);
    background-image: url("../pic/sidebar.png");
    background-size: cover;
    border-left:2px solid grey;
}
#SudokuMain{
    height:60vh;
    aspect-ratio:1/1;
    background-image: linear-gradient(0deg, #c7b7fa, #f8c5e5 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:auto;
    justify-self: center;
}
.subBlock{
    border:1px solid black;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr;
}
.minBlock{
    border:0.5px solid black;
    display:grid;
    justify-items:center;
    align-items: center;
}
.minBlock:hover{
    transform:scale(1.5);
    background-color:white;
    transition:transform 0.2s;
}
header{
    display:block;
    width:100%;
    height:15vh;
    background-color: #92f3d8;
    font-size:calc(10px + 2vw);
    align-content: center;
    text-align: center;
    font-family: "微軟正黑體 Light", serif;
    color:white;
    -webkit-user-select: none;
    border-bottom: 2px solid grey;
}
#num-container{
    width:100%;
    height:60%;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#clock .number{
    height:55%;
    width:80%;
    margin:20px auto 0 auto;
    background-color:white;
    border:2px solid black;
    justify-self: center;
    text-align: center;
    font-size:45px;
    border-radius:10px;
}
#clock{
    text-align: center;
}
#left{
    text-align: center;
}
#left .number{
    height:55%;
    width:80%;
    margin:20px auto 0 auto;
    background-color:white;
    border:2px solid black;
    justify-self: center;
    text-align: center;
    font-size:45px;
    border-radius:10px;
}
#modal{
    -webkit-user-select: none;
    height:100vh;
    width:100vw;
    background-color: rgba(77, 78, 77, 0.8);
    z-index:10;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    justify-content: center;
    align-content: center;
}
#alert{
    height:30vh;
    width:30vw;
    background-color:white;
    border-radius:20px;
    display:none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Confirm{
    width:100%;
    height:30%;
    align-content: center;
    display:flex;
    justify-content: space-around;
}
.text{
    font-size:calc(10px + 2vw);
    font-family: "微軟正黑體 Light", serif;
    margin:auto;
}
.subText{
    display:none;
}
.Confirm .yes{
    height:50%;
    width: 30%;
    border:2px solid grey;
    text-align: center;
    background-color:lightskyblue;
    border-radius: 10px;
}
.no:hover{
    transform:scale(1.2);
}
.yes:hover{
    transform:scale(1.2);
}
.Confirm .no{
    height:50%;
    width: 30%;
    border:2px solid grey;
    text-align: center;
    border-radius: 10px;
}
#Start{
    height:40vh;
    width:30vw;
    background-color:white;
    border-radius:20px;
    display:none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Start .Select{
    height:80%;
    width:30vw;
    background-color:white;
    border-radius:20px;
    margin:2% 0;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.difficulty{
    height:20%;
    width:80%;
    border-radius: 10px;
    font-size:20px;
    font-family: "华文宋体", serif;
}
.easy{
    background-color:lawngreen;
}
.normal{
    background-color:yellow;
}
.hard{
    background-color:red;
}
#OuterNum{
    width:100%;
    position: fixed;
    top:16vh;
    height:10%;
    display: flex;
    justify-content: center;
}
#whichNum{
    width:60vh;
    background-color: white;
    align-content: center;
    display: none;
    justify-content: space-around;
    border-radius: 10px;
    background-image:linear-gradient(to top, #fad0c4 0%, #fad0c4 1%, #ffd1ff 100%);
    background-size: cover;
    border:1px solid grey;
}
#whichNum .num{
    height:50%;
    width:10%;
    align-self: center;
    border:none;
    background-color:transparent;
    font-size:calc(5px + 2vw);
    font-family: "Times New Roman",sans-serif;
}


